<section aria-labelledby="faq-title" id="faq">
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12"
  >
    <div>
      <div class="max-w-2xl">
        <p
          class="text-black font-extrabold lg:text-5xl text-4xl tracking-tight"
        >
          Frequent questions and answers
        </p>
        <p class="text-slate-500 lg:text-xl max-w-2xl mt-4 mx-auto text-base">
          Porque nos pasamos el día dando vueltas
        </p>
      </div>
      <div class="mt-12 space-y-12 divide-y-2">
        <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-3 lg:pt-12">
          <div class="flex flex-col flex-shrink-0 mb-6 lg:pr-12 md:mb-0">
            <span
              class="text-lg font-semibold leading-6 text-black font-display tracking-tight"
            >
              ¿Qué tipo de repuestos puedo encontrar en su tienda?
            </span>
          </div>
          <div class="lg:col-span-2">
            <p class="text-slate-500 text-sm">
              En nuestra tienda, ofrecemos una amplia variedad de repuestos para
              automóviles, motocicletas, electrodomésticos, herramientas y
              maquinarias industriales, entre otros. Puede visitar nuestro
              catálogo en línea o en la tienda para ver los productos
              disponibles.
            </p>
          </div>
        </div>
        <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-3 lg:pt-12">
          <div class="flex flex-col flex-shrink-0 mb-6 lg:pr-12 md:mb-0">
            <span
              class="text-lg font-semibold leading-6 text-black font-display tracking-tight"
            >
              ¿Ofrecen garantías en sus productos?
            </span>
          </div>
          <div class="space-y-4 lg:col-span-2">
            <p class="text-slate-500 text-sm">
              Sí, ofrecemos garantías en nuestros productos. Dependiendo del
              tipo de repuesto, la garantía puede variar. Por favor, consulte
              con uno de nuestros expertos en la tienda para obtener más
              información sobre nuestras garantías.
            </p>
          </div>
        </div>
        <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-3 lg:pt-12">
          <div class="flex flex-col flex-shrink-0 mb-6 lg:pr-12 md:mb-0">
            <span
              class="text-lg font-semibold leading-6 text-black font-display tracking-tight"
            >
              ¿Cómo puedo saber qué repuesto necesito?
            </span>
          </div>
          <div class="lg:col-span-2">
            <p class="text-slate-500 text-sm">
              Si necesita ayuda para encontrar el repuesto correcto, nuestros
              expertos en la tienda estarán encantados de ayudarlo. Solo
              necesita proporcionarles información sobre el equipo o la
              maquinaria que está tratando de reparar, y ellos le podrán guiar
              en la elección del repuesto correcto.
            </p>
          </div>
        </div>
        <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-3 lg:pt-12">
          <div class="flex flex-col flex-shrink-0 mb-6 lg:pr-12 md:mb-0">
            <span
              class="text-lg font-semibold leading-6 text-black font-display tracking-tight"
            >
              ¿Cuáles son sus opciones de pago y envío?
            </span>
          </div>
          <div class="lg:col-span-2">
            <p class="text-slate-500 text-sm">
              Aceptamos diferentes formas de pago, incluyendo efectivo, tarjetas
              de crédito y débito. Además, ofrecemos opciones de envío a nivel
              local y nacional, tanto a través de servicios de entrega o envío a
              domicilio, como también para retiro en tienda.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
